<h1>RESTAURANT INDEX</h1>

<ul>
<% restaurant.forEach(element => { %>
    <li><a href="/restaurants/<%=element.name%>"><%=element.name%></a></li>
    <ul>
        <li>Rating: <%=element.rating%></li>
        <li>Review count: <%=element.review_count%></li>
        <li><img width="400px" height="400px"src="<%=element.image_url%>" alt=""></li>
    </ul>

<% }) %>

</ul>