<!-- Links to CSS and JS from Mapbox -->
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css"
  rel="stylesheet"
/>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
<!-- form to submit a review -->
<div id="map" class="map" style="width: 100%; height: 500px"></div>
<!-- generated data fields from API -->
<div style="box-shadow: 4px 4px 10px #9e9e9e">
  <div STYLE="display:flex;flex-direction:row;justify-content:center;margin:20px">
    <div style="margin-right:5px">
      <img
        width="500px"
        heigh="500px"
        src="<%= restaurant.image_url%>"
        alt=""
      />
    </div>
    <div style="margin-right:5px;display:flex;flex-direction:column;justify-content: center">
      <h1 style="color: black; font-weight: 900"><%= restaurant.name%></h1>
      <h3><%= restaurant.location.address1%></h1>
      <h3> <%= restaurant.location.city%>, <%=restaurant.location.state%></h1>

      <h3>Yelp Rating: <%let rating = restaurant.rating%> <% if (rating == 1) { %>
      <h5 class="card-text margin10" style="display: inline-block">
        <img height="30px" width="30px" src="/full-star.png" alt="full star" />
      </h5>
      <% } else if (rating == 1.5) { %>
      <h5 class="card-text" style="display: inline-block">
        <img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/half-star.png"
          alt="half star"
        />
      </h5>
      <% } else if (rating == 2) { %>
      <h5 class="card-text" style="display: inline-block">
        <img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        />
      </h5>
      <% } else if (rating == 2.5) { %>
      <h5 class="card-text" style="display: inline-block">
        <img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/half-star.png"
          alt="half star"
        />
      </h5>
      <% } else if (rating == 3) { %>
      <h5 class="card-text" style="display: inline-block">
        <img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        />
      </h5>
      <% } else if (rating == 3.5) { %>
      <h5 class="card-text" style="display: inline-block">
        <img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/half-star.png"
          alt="half star"
        />
      </h5>
      <% } else if (rating == 4) { %>
      <h5 class="card-text" style="display: inline-block">
        <img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        />
      </h5>
      <% } else if (rating == 4.5) { %>
      <h5 class="card-text" style="display: inline-block">
        <img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/half-star.png"
          alt="half star"
        />
      </h5>
      <% } else if (rating == 5) { %>
      <h5 class="card-text" style="display: inline-block">
        <img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        /><img
          height="30px"
          width="30px"
          src="/full-star.png"
          alt="full star"
        />
      </h5>

      <% } %></h1>
      <h3>GitRamen Rating:</h3>
      <em style="font-size: 15px;">Coming soon</em>
    </div>
  </div>
</div>
<%if(reviews){%>
  <% reviews.forEach((element, index) => { %>
  <%console.log(Object.keys(element.createdAt))%>
<div style="display:flex; justify-content: space-between; margin:1em; background-color: #F8F9FA;box-shadow: 4px 4px 10px #9e9e9e">
  <div class="reviewCard">
    <div id="userAndPhoto" style="text-align:center; width:100px;margin-left:20px">
      <img style="margin-top: 10px;"width="75px" height="75px"src="/ramen.PNG" alt="">
      <p style="font-weight: 800;margin-top: 5px;"><%=element.user.username%></p>
    </div>
    <div id="rating" style="display:flex;flex-wrap:nowrap;min-width:200px;align-items:center;justify-content: left;margin-left:10px;margin-right:10px;">
      <%let rating = element.rating%> <% if (rating == 1) { %>
        <h5 class="card-text" style="display: inline-block">
          <img height="30px" width="30px" src="/full-star.png" alt="full star" />
        </h5>
        <% } else if (rating == 1.5) { %>
        <h5 class="card-text" style="display: inline-block">
          <img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/half-star.png"
            alt="half star"
          />
        </h5>
        <% } else if (rating == 2) { %>
        <h5 class="card-text" style="display: inline-block">
          <img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          />
        </h5>
        <% } else if (rating == 2.5) { %>
        <h5 class="card-text" style="display: inline-block">
          <img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/half-star.png"
            alt="half star"
          />
        </h5>
        <% } else if (rating == 3) { %>
        <h5 class="card-text" style="display: inline-block">
          <img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          />
        </h5>
        <% } else if (rating == 3.5) { %>
        <h5 class="card-text" style="display: inline-block">
          <img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/half-star.png"
            alt="half star"
          />
        </h5>
        <% } else if (rating == 4) { %>
        <h5 class="card-text" style="display: inline-block">
          <img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          />
        </h5>
        <% } else if (rating == 4.5) { %>
        <h5 class="card-text" style="display: inline-block">
          <img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/half-star.png"
            alt="half star"
          />
        </h5>
        <% } else if (rating == 5) { %>
        <h5 class="card-text" style="display: inline-block">
          <img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          /><img
            height="30px"
            width="30px"
            src="/full-star.png"
            alt="full star"
          />
        </h5>
        <% } %>
    </div>
    <div id="comment" style="display:flex;align-items:center;min-width:500px">
      <p class="reviewText"><%=element.comment%></p>
    </div>
    <div id="updateAndDelete" style="display:flex;flex-direction:column;justify-content:center;align-items: center;margin-right: 20px;">
      <%if(element.userId == user.id){%>
        <form action="/restaurants/update" method="POST">
          <input hidden type="text" name="id" value="<%=element.id%>" />
          <input
          hidden
          type="text"
          name="comment"
          value="<%=element.comment%>"
          />
          <input hidden type="text" name="rating" value="<%=element.rating%>" />
          <input class="updateDeteleButton"type="submit" value="edit" />
        </form>
        <form action="/restaurants/resource?_method=DELETE" method="POST">
          <input class="updateDeteleButton"type="submit" id="delete" name="delete" value="delete" />
          <input
            hidden
            type="text"
            id="delete"
            name="id"
            value="<%=element.id%>"
          />
        </form>
        <%}%>
    </div>
  </div>
</div>
      <% }) %> <%}%>
  
<div class="center" style="margin-bottom: 30px">
  <form action="/restaurants/review" method="POST">
    <label for="restaurant"></label>
    <input
      hidden
      type="text"
      name="restaurant"
      id="restaurant"
      value="<%=restaurant.name%>"
    />
  <div class="reviewSubmitBox">
      <div> 
      <label for="review">Add a review: </label>
      <div style="text-align:center">
        <textarea required class="reviewInput" type="text" name="review" id="review"></textarea>
      </div>
    </div>
    <div>
      <label for="rating">Add a rating:</label><br>
      <div>
        <input required class="ratingInput"type="number" name="rating" id="rating" min="1" max="5" />
        <label for="id"></label>
      </div>
    </div>
  </div>
    <input hidden type="text" name="yelpIndex" value="<%=restaurant.id%>" />
    <label for="name"></label>
    <input hidden type="text" name="name" value="<%=restaurant.name%>" /><br>
    <input class="reviewButton"type="submit" value="Submit Review" />
  </form>
</div>
<!-- variables needed to provide script with EJS variables -->
<% let latitude = restaurant.coordinates.latitude%> <% let longitude =
restaurant.coordinates.longitude%>
<!-- Javascript for Mapbox -->
<script>
  const hi = document.getElementById
      let getlatitude = <%=latitude%>;
      let getlongitude = <%=longitude%>;
    mapboxgl.accessToken =
      'pk.eyJ1IjoiamFtZWxzY290dCIsImEiOiJjbDAzZGN5ajExM3k5M2NvOTMycXJkM2l5In0.6Ym8zM55Xi5dAJFZqwJ55g';
    const map = new mapboxgl.Map({
      container: 'map', // container ID
      style: 'mapbox://styles/mapbox/streets-v11', // style URL
      center: [getlongitude, getlatitude], // starting position [lng, lat]
      zoom: 13, // starting zoom
    });
    const marker1 = new mapboxgl.Marker()
  .setLngLat([getlongitude, getlatitude])
  .addTo(map);
</script>
